* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
html, body {
    height: 100%;
  }
  
.section-container {
    position: relative;
    padding: 0;
    min-height: 100vh; /* Ensure Section1 covers the entire viewport */
    box-sizing: border-box;
    background-color: #e4e2e2;

  
    }

.skills{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20rem;
    left: 8rem;
    /* background-color: rgb(234, 0, 255); */
    }

.likes{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15rem;
    left: 63rem;
}

.skills  h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family:monospace;
    position: absolute;
    top: 1rem;
    margin-left: 5rem;

}

.likes h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: monospace;
    top: 6rem;
    margin-left: 4rem;
    position: absolute;


}

ul{
    list-style-type: none;
    color: rgb(255, 255, 255);
}



.skills-items ul{
    text-align: center;
    margin-top: 5rem;
}

.skills-items li{
    margin-top: .5rem;
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
}

.skills-items li button{
    width: 100%;
    height: 60px;
    
}

.likes-items ul{
    text-align: center;
    margin-top: 10rem;

}

.likes-items li{
    margin-top: .5rem;
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
    
}

.likes-items li button{
    width: 100%;
    height: 60px;
   
}

.skills_images{
    position: absolute;
    margin-left: 63rem;
    margin-top: 4rem;
}

.likes_images{
    position: absolute;
    margin-top: 6rem;
    margin-left: 20rem;
}

.python_img{
    position: absolute;
    margin-top: 20rem;
    margin-left: -15rem;
}
.python_img img, .java_img img, .js_img img, .teamwork_img img{
    width: 150px;
    border-radius: 100px;
}

.java_img{
    position: absolute;
    margin-top: 30rem;
    margin-left: -15rem;
}

/* .js_img{
    position: absolute;
    margin-top: 0.3rem;
} */

.multitasking_img img {
    width: 200px;
    border-radius: 200px;
}

.multitasking_img{
    position: absolute;
    margin-left: -17rem;
    margin-top: 23rem;

}

.teamwork_img{
    position: absolute;
    margin-left: -16rem;
    margin-top: 23rem;
    
}

.guitar_img img{
    width: 150px;
    border-radius: 100px;
}

.guitar_img{
    position: absolute;
    margin-top: 21rem;
    margin-left: 27rem;
}
.books_img img{
    width: 200px;
    border-radius: 250px;
}

.books_img{
    position: absolute;
    margin-top: 18rem;
    margin-left: 25rem;
}

.baking_img img{
    width: 150px;
    border-radius: 100px;
}

.baking_img{
    position: absolute;
    margin-top: 21rem;
    margin-left: 27rem;
}
.btn {
    font-family: monospace;
    text-transform: uppercase;
  } 
   
  .btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
    
  } 
   
  .btn-rect-to-round {
    height: 55px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;
  } 
   
  .btn-rect-to-round:hover {
    border-radius: 60px;
    color: rgb(255, 255, 255) !important;
  } 
   
  .btn-rect-to-round--black {
    border: 2px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51) !important;
  } 
   
  .btn-rect-to-round--black:hover {
    border-color: rgb(51, 51, 51);
    background: rgb(51, 51, 51);
  } 
   
  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
  
  .heartbeat {
    animation: heartbeat 0.7s infinite;
  }

  .hidden {
    display: none; /* Ensure hidden elements don't take up space */
  }

  @media screen and (max-width: 768px){
    .skills{
        width: 100%;
        margin-left: -10rem;
        margin-top: -15rem;
    }

    .likes{
        width: 100%;
        margin-left: -65rem;
        margin-top: 18rem;
    }

    .skills h1, .likes h1{
        font-size: 25px;
    }

    .skills-items li button{
        width: 80%;
        height: 70px;
       
    }

    .skills li, .likes li{
        margin-top: -.5rem;
    }

    .skills-items{
        margin-top: -1rem;
    }

    .likes h1{
        margin-top: 1rem;
    }

    .python_img{
        display: flex;
        flex-direction: column;
        margin-left: -49rem;
        margin-top: 24rem;

    }

    .java_img{
        display: flex;
        flex-direction: column;
        margin-left: -59rem;
        margin-top: 24rem;
    }

    .multitasking_img{
        display: flex;
        flex-direction: column;
        margin-left: -56rem;
        margin-top: 23rem;
    }

    .teamwork_img{
        margin-left: -54rem;
    }
    .guitar_img, .baking_img{
        display: flex;
        flex-direction: column;
        margin-left: -11rem;
        margin-top: 21rem;
    }
    
    .books_img{
        display: flex;
        flex-direction: column;
        margin-left: -10rem;
        margin-top: 20rem;
    }


    .teamwork_img, .multitasking_img {
        width: 100px;
    }

    .python_img img, .java_img img{
        width: 130px;
    }
    .guitar_img img, .baking_img img{
        width: 150px;
    }
    .books_img img{
        width: 130px;
    }

    .hidden{
        display: none;
    }

  }