* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
html, body {
    height: 100%;
    background-color: #e4e2e2;
}
  
.section-container {
    position: relative;
    padding: 0;
    min-height: 100vh; /* Ensure Section1 covers the entire viewport */
    box-sizing: border-box;
  
}

.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
}

.contact-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    margin-left: -5rem;
}

li{
    
    margin-top: 2rem;
}

.contact-items a{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    color: black;
    margin-left: 0.8rem
}

.contact-items a:hover{
    color: grey;
}

.email, .linkedin, .github{
    color: black;
}

