* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
html, body {
    height: 100%;
    background-color: #e4e2e2;
}
  
.section-container {
    position: relative;
    padding: 0;
    min-height: 100vh; /* Ensure Section1 covers the entire viewport */
    box-sizing: border-box;
  
}

.page_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.page_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

p{
    font-size: 20px;
}

.images {
    position: absolute;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    margin-left: 15rem;
    margin-top: 5rem;
}

.music_img{
    position: absolute;
    margin-left: 80rem;
}

.music_img img, .movies_img img{
    width: 500px;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.neon-border {
    animation: flicker 1s infinite alternate; /* Flickering animation */
    border-radius: 22px; /* Adjust border radius as needed */
}

@keyframes flicker {
    0% {
        border-color: #fff;
        box-shadow: 0 0 20px #fff, 0 0 40px #fff;
    }
    50% {
        border-color: #000;
        box-shadow: 0 0 20px #000;
    }
    100% {
        border-color: #fff;
        box-shadow: 0 0 20px #fff;
    }
    
    
      
}

.neon-border:hover {
    animation: none; /* Stops the animation on hover */
    cursor: pointer;
}

.text-movies, .text-music{
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 20px;
    top: 12%;
    left: 10%;
}

.text-music{
    left: 8%;
}


@media screen and (max-width: 768px){
    .page_title{
        text-align: center;
    }

    .page_info{
        text-align: center;
        width: 100%;
    }

    p{
        width: 80%;
    }

    .images{
        display: flex;
        flex-direction: column;
        width: 50px;
    }

    .music_img img, .movies_img img{
        width: 250px;
    }

    .movies_img{
        margin-left: -8rem;
        margin-top: -3rem;
    }

    .music_img{
        margin-left: -8rem;
        margin-top: 32rem;
    }

    .text-movies{
        font-size: 20px;
        text-align: center;
        margin-left: -9rem;
        margin-top: -4rem;

    }

    .text-movies p{
        color: white;
        width: 110%;
        font-size: 18px;
    }

    .text-music{
        text-align: center;
        font-size: 18px;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
    }
}
