* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
  html, body {
    height: 100%;
    background-color: #e4e2e2;
    max-width: 100%;
  }
  
  .section-container {
    position: relative;
    padding: 0;
    min-height: 100vh; /* Ensure Section1 covers the entire viewport */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page_title {
    width: 100%;
    text-align: center;
    padding-top: 8rem;
  }
  
  .page_info {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
  }
  
  p {
    font-size: 20px;
  }
  
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
  }
  
  .movies_img, .music_img {
    position: relative;
    width: 500px;
    max-width: 45%;
  }
  
  .movies_img img, .music_img img {
    width: 100%;
    border-radius: 20px;
    transition: opacity 0.3s ease;
  }
  
  .neon-border {
    animation: flicker 1s infinite alternate; /* Flickering animation */
    border-radius: 22px; /* Adjust border radius as needed */
  }
  
  @keyframes flicker {
    0% {
      border-color: #fff;
      box-shadow: 0 0 20px #fff, 0 0 40px #fff;
    }
    50% {
      border-color: #000;
      box-shadow: 0 0 20px #000;
    }
    100% {
      border-color: #fff;
      box-shadow: 0 0 20px #fff;
    }
  }
  
  .neon-border:hover {
    animation: none; /* Stops the animation on hover */
    cursor: pointer;
  }
  
  .text-movies, .text-music {
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 20px;
    top: 12%;
    left: 10%;
    text-align: center;
    width: 80%;
  }
  
  .text-music {
    left: 10%;
  }
  
  .text-movies p {
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .page_title {
      padding-top: 4rem;
    }
  
    .page_title h1 {
      font-size: 20px;
    }
  
    .page_info p {
      width: 80%;
      font-size: 15px;
      margin: 0 auto;
    }
  
    .images {
      flex-direction: column;
      gap: 30px;
    }
  
    .movies_img, .music_img {
      width: 200px;
      max-width: 90%;
      margin: 0 auto;
    }
  
    .text-movies, .text-music {
      font-size: 15px;
    }
  }