* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
html, body {
    height: 100%;
    background-color: #e4e2e2;
  }
  
.section_container {
    position: relative;
    padding: 0;
    min-height: 100vh; /* Ensure Section1 covers the entire viewport */
    box-sizing: border-box;
    overflow: hidden;
  
}

.spacer{
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/* .layer1{
    background-image: url('../../public/images/svg_bg2.svg');
}  */



.title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    padding-top: 8rem;

}

h1{
    font-family: monospace;
    font-weight: bolder;
}


.left-blob{
    position: absolute;
    margin-top: 13rem;
    margin-left: -8rem;
    max-width: 100%;
}

.right-blob{
    position: absolute;
    margin-left: 42rem;
    margin-top: 10rem;
    max-width: 100%;
}

.middle-blob{
    position: absolute;
    margin-left: 20rem;
    margin-top: 30rem;
    max-width: 100%;
}

.last-blob{
    position: absolute;
    margin-left: 60rem;
    margin-top: 30rem;
    max-width: 100%;
}

.blob_itself, .blob_itself2{
    cursor: pointer;

}
    





/* .controller_img{
    position: absolute;
    margin-top: 20rem;
    margin-left: 5rem;
}
.controller_img img, .unity_img img, .csharp_img img, .calendar_img img, .django_img img, .openai_img img{
    width: 100px;
    border-radius: 100px;
}

.unity_img{
    position: absolute;
    margin-top: 50rem;
    margin-left: 3rem;
}

.csharp_img{
    position: absolute;
    margin-top: 50rem;
    margin-left: 35rem;
}

.calendar_img{
    position: absolute;
    margin-top: 5rem;
    margin-left: 60rem;
}

.django_img{
    position: absolute;
    margin-left: 93rem;
    margin-top: 5rem;
}

.openai_img{
    position: absolute;
    margin-left: 85rem;
    margin-top: 43rem;
} */

@media screen and (max-width: 768px){
    
    .title{
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 100%;
        left: 50%;
        margin-top: 10%;
    }

    .title h1{
        font-size: 20px;
    }
    .layer1{
        background-image: none;
    } 

    .left-blob{
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 100%;
        left: 70%;
        margin-top: 75%;
    } 

     .right-blob{
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        left: 75%;
        top: 50%;
        margin: 0;
    }

    .middle-blob{
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        left: 30%;
        top: 70%;
        margin: 0;
    }

    .last-blob{
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        left: 75%;
        top: 80%;
        margin: 0;
    }



    .blob_itself, .blob_itself2 {
        fill: #1e1d1d; 
        transform: rotate(90deg);
        pointer-events: all !important;
        
      }
      #visual {
        pointer-events: all; 
      }
      

      text {
        fill: #e4e2e2;
      }
      
      tspan {
        fill: #e4e2e2;
      }

    svg{
        width: 300px;
    }

    

}

